@charset "UTF-8";
aside.left-panel {
  background: #272c33;
  display: table-cell;
  height: 100vh;
  min-height: 100%;
  padding: 0 25px;
  vertical-align: top;
  width: 280px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.navbar {
  background: #272c33;
  border-radius: 0;
  border: none;
  display: block;
  padding: 0 !important;
  margin: 0 0 300px;
}

.navbar .navbar-header {
  float: none;
  text-align: center;
  width: 100%;
}

.navbar .navbar-brand {
  border-bottom: 1px solid #4e4e52;
  color: #f1f2f7 !important;
  font-family: "Open Sans";
  font-size: 22px;
  float: none;
  line-height: 50px;
  margin: 0;
  text-align: left;
  text-transform: capitalize;
  display: block;
  min-height: 69px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.navbar .navbar-brand span {
  font-weight: 600;
}

.navbar .navbar-brand img {
  max-width: 160px;
}

.navbar .navbar-brand.hidden {
  display: none;
}

.navbar .menu-title {
  border-bottom: 1px solid #4e4e52;
  color: #9496a1;
  clear: both;
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  padding: 15px 0 0;
  text-transform: uppercase;
  width: 100%;
}

.navbar .navbar-nav {
  float: none;
  position: relative;
}

.navbar .navbar-nav li {
  width: 100%;
}

/* Cambiar icono */
.navbar .navbar-nav li.active .menu-icon,
.navbar .navbar-nav li:hover .toggle_nav_button:before,
.navbar .navbar-nav li .toggle_nav_button.nav-open:before,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus {
  color: #e74c3c !important;
}

.navbar .navbar-nav li.activo > .dropdown-toggle .menu-icon,
.navbar .navbar-nav > .activo > a {
  color: #e74c3c !important;
}

.menu-item-has-children .sub-menu li.active > a > span,
.menu-item-has-children .sub-menu li.active > i {
  color: #e74c3c !important;
}

.navbar .navbar-nav li .dropdown-toggle:after {
  display: none;
}

/* Cambiar texto del menu sin activar */
.navbar .navbar-nav li > a {
  background: none !important;
  color: #c8c9ce !important;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

/* Cambiar texto cuando sea hover */
.navbar .navbar-nav li.activo > .dropdown-toggle:hover .menu-icon,
.navbar .navbar-nav li.activo > .sub-menu li:hover > i,
.navbar .navbar-nav li.activo > .sub-menu li:hover > a > span,
.navbar .navbar-nav li > a:hover,
.navbar .navbar-nav li > a:hover .menu-icon {
  color: #ffd !important;
}

.navbar .navbar-nav li > a .menu-icon {
  color: #8b939b;
  float: left;
  margin-top: 8px;
  width: 55px;
  text-align: left;
  z-index: 9;
}

.navbar .navbar-nav li > a .menu-title-text {
  font-size: 14px;
}

.navbar .navbar-nav li > a .badge {
  border-radius: 0;
  font-family: "Open Sans";
  font-weight: 600;
  float: right;
  margin: 6px 0 0;
  padding: 0.4em 0.5em;
}

.navbar .navbar-nav li.menu-item-has-children {
  position: relative;
}

.navbar .navbar-nav li.menu-item-has-children a {
  line-height: 30px;
}

.navbar .navbar-nav li.menu-item-has-children a:before {
  content: "";
  font-weight: 1000;
  font-family: "Font Awesome 5 Free";
  color: #c8c9ce;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.navbar .navbar-nav li.menu-item-has-children a:hover:before {
  color: #fff;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
  background: #272c33;
  border: none;
  box-shadow: none;
  overflow-y: hidden;
  padding: 0 0 0 35px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu li {
  position: relative;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
  color: #c8c9ce;
  float: left;
  padding: 0;
  position: absolute;
  left: 0;
  font-size: 14px;
  top: 9px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu a {
  padding: 2px 0 2px 30px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
  content: "";
  display: none;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
  top: 13px;
  text-align: left;
  width: 25px;
}

.navbar .navbar-nav li.menu-item-has-children.show a:before {
  transform: rotate(90deg);
}

.navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
  max-height: 1000px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position: static !important;
}

.navbar-nav li span.count {
  background: #a9d86e;
  border-radius: 50%;
  color: #fff;
  font-family: "Open Sans";
  font-size: 9px;
  font-weight: 700;
  float: right;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 15px;
  text-align: center;
}

body.open .navbar .navbar-brand.hidden {
  display: block;
}

.open aside.left-panel {
  max-width: 70px;
  width: 70px;
}

.open aside.left-panel .navbar .navbar-brand {
  display: none;
}

.open aside.left-panel .navbar .navbar-brand.hidden {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.open aside.left-panel .navbar .navbar-brand.hidden img {
  max-width: 30px;
  margin: 0 auto;
}

.open aside.left-panel .navbar .navbar-brand.d-md-none {
  display: block !important;
  margin: 13px 0 0;
  min-height: 67px;
  padding: 0;
  text-align: center;
}

.open aside.left-panel .navbar .navbar-nav:before {
  display: none !important;
}

.open aside.left-panel .navbar .navbar-nav li {
  position: relative;
}

.open aside.left-panel .navbar .navbar-nav li a {
  font-size: 0;
  z-index: 0;
  -webkit-transition: none;
  transition: none;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
  font-size: 20px;
  z-index: -1;
  width: inherit;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
  font-size: 0;
}

.open aside.left-panel .navbar .navbar-nav li a .badge {
  display: none;
}

.open aside.left-panel .navbar .navbar-nav li > a {
  max-width: 60px;
  padding-left: 0;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
  overflow: hidden;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
  content: "";
  display: none;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
  padding-left: 0;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
  display: block;
  left: inherit;
  right: -180px;
  top: 0;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
  display: block;
  font-size: 14px;
  max-width: inherit;
  padding: 2px 15px 2px 25px;
  width: 100%;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
  text-align: center;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show {
  overflow: visible;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
  position: absolute !important;
}

.open aside.left-panel .navbar .navbar-nav li span.count {
  display: none;
  margin-right: 5px;
  z-index: 1;
}

.open aside.left-panel .navbar .navbar-nav li.active a:after {
  content: "";
  display: none;
}

.open aside.left-panel .navbar .navbar-nav .menu-title {
  font-size: 0;
  line-height: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  padding: 0;
}

@media (max-width: 1024px) {
  aside.left-panel {
    padding: 0 20px;
    width: 200px;
  }

  .navbar .navbar-nav li > a .menu-icon {
    width: 30px;
  }

  .navbar .navbar-nav li.menu-item-has-children .sub-menu {
    padding: 0 0 0 30px;
  }

  .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
    padding: 2px 0 2px 25px;
  }
}
.right-panel {
  display: table-cell;
  padding-left: 0 !important;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.right-panel .page-header {
  min-height: 50px;
  margin: 0;
  padding: 0 15px;
  background: #ffffff;
  border-bottom: 0;
}

.right-panel .page-header h1 {
  font-size: 18px;
  padding: 15px 0;
}

.right-panel header.header {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  clear: both;
  display: inline-block;
  padding: 15px 20px 13px;
  width: 100%;
}

.open .right-panel {
  margin-left: -210px;
}

header.fixed-top {
  background: #fff;
  padding: 20px;
}

.header-menu .col-sm-7 {
  position: inherit;
}

.menutoggle {
  background: #e74c3c;
  border-radius: 50%;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  height: 43px;
  line-height: 44px;
  margin: -2px 20px 0 -57px;
  text-align: center;
  width: 43px;
}

.open .menutoggle i:before {
  content: "";
  transform: rotate(50deg);
}

.header-left .dropdown {
  display: inline-block;
}

.header-left .dropdown .dropdown-toggle {
  background: transparent;
  border: none;
  color: #272c33;
  font-size: 16px;
}

.header-left .dropdown .dropdown-toggle:after {
  display: none;
}

.header-left .dropdown .dropdown-toggle .count {
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  right: 0;
  top: 0;
  position: absolute;
}

.header-left .dropdown .dropdown-toggle:active, .header-left .dropdown .dropdown-toggle:focus, .header-left .dropdown .dropdown-toggle:visited {
  background: none !important;
  border-color: transparent !important;
  color: #272c33 !important;
}

.header-left .dropdown .dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  top: 49px !important;
}

.header-left .dropdown .dropdown-menu p {
  font-size: 15px;
  margin: 0;
  padding: 5px 15px;
}

.header-left .dropdown .dropdown-menu .dropdown-item {
  color: #272c33;
  font-size: 13px;
  padding: 10px 15px 3px;
  text-overflow: ellipsis;
}

.header-left .dropdown .dropdown-menu .dropdown-item .photo {
  float: left;
  margin-right: 15px;
  width: 25px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message .name {
  margin-top: -5px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message .time {
  font-size: 11px;
}

.header-left .dropdown .dropdown-menu .dropdown-item .message p {
  clear: both;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

.header-left .dropdown .dropdown-menu .dropdown-item:hover {
  background: transparent;
}

.dropdown-menu {
  border-radius: 0;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.user-area {
  padding: 5px 0;
  float: right;
  padding-right: 0;
  position: relative;
}
.user-area .user-avatar {
  float: right;
  width: 32px;
}
.user-area #seccion_usuario:focus + ul {
  display: flex;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
.user-area ul:before {
  content: "";
  position: absolute;
  top: -19px;
  left: 90%;
  transform: translateX(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid #272c33;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.user-area ul {
  margin-top: 50px;
  position: absolute;
  display: none;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  width: 200px;
  height: 80px;
  background: #272c33;
  left: -165px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  z-index: 999;
}
.user-area ul li {
  cursor: pointer;
  width: 100% !important;
  height: 100%;
  display: flex;
  justify-content: left !important;
  align-items: center;
  z-index: -1;
}
.user-area ul li:hover a,
.user-area ul li:hover i {
  color: #ffd;
}
.user-area ul li i {
  width: 20%;
  float: left;
  margin-left: -10px;
  color: #fff;
}

.breadcrumbs {
  margin-top: 0;
}

.right-panel .breadcrumbs {
  background-color: #fff;
  display: inline-block;
  margin-top: 0;
  padding: 0 5px;
  width: 100%;
}

.right-panel .breadcrumbs .col-lg-8 .page-header {
  float: left;
}

.right-panel .page-header .breadcrumb {
  margin: 0;
  padding: 13.5px 0;
  background: #fff;
  text-transform: capitalize;
}

.right-panel .page-header .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}

.icon-container {
  /* width: 240px */
  /* margin: 0.1em 0 */
  float: left;
  position: relative;
  text-align: left;
}

.icon-container [class^="fas fa-"],
.icon-container [class*=" fa"] {
  margin-left: 10px;
  color: #000;
  position: absolute;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon-container:hover [class^="fas fa-"],
.icon-container:hover [class*=" fa"] {
  font-size: 2.2em;
  margin-top: -5px;
  color: #e74c3c;
}

.chbox-animado-de-forms-de-forms label {
  font-weight: 100;
  font-size: 18px;
}

.chbox-animado-de-forms .chbox {
  position: relative;
  top: -0.375rem;
  float: left;
  margin: 0 1rem 0 0;
  margin-top: 5px;
  cursor: pointer;
}

.chbox-animado-de-forms .chbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border: 2px solid #ddd;
}

.chbox-animado-de-forms .chbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 1rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.chbox-animado-de-forms .chbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 2rem;
  height: 2rem;
  background: #fff;
  cursor: pointer;
}

.texto-animado-de-forms .texto-de-forms, .texto-animado-de-forms .texto-de-forms:focus {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  padding: 10px;
}

.ripple-form {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  z-index: 99;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: rippleForm 0.5s linear;
  -moz-animation: rippleForm 0.5s linear;
  -ms-animation: rippleForm 0.5s linear;
  -o-animation: rippleForm 0.5s linear;
  animation: rippleForm 0.5s linear;
}

.grupo-de-forms.texto-animado-de-forms {
  position: relative;
  margin-bottom: 45px;
}

.grupo-de-forms.texto-animado-de-forms .texto-de-forms {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid #757575;
}

.grupo-de-forms.texto-animado-de-forms .texto-de-forms:focus {
  outline: none;
}

.grupo-de-forms.texto-animado-de-forms label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.grupo-de-forms.texto-animado-de-forms.form-animate-error label,
.form-animate-error .select2-selection__placeholder {
  color: #FF968B !important;
}

.form-animate-error .select2-selection--single {
  border-color: #FF968B !important;
}

.grupo-de-forms.texto-animado-de-forms.form-animate-error .barra:before, .grupo-de-forms.texto-animado-de-forms.form-animate-error .barra:after {
  background-color: #FF968B !important;
  width: 50%;
}

.grupo-de-forms.texto-animado-de-forms.form-animate-error .form-animate-error-msg {
  color: #FF968B !important;
  font-size: 16px;
  display: none;
}

.grupo-de-forms.texto-animado-de-forms .texto-de-forms:focus ~ label {
  top: -10px;
  font-size: 14px;
  color: #009688;
}

.texto-de-forms:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #4BB543;
}

.grupo-de-forms.texto-animado-de-forms .barra {
  position: relative;
  display: block;
  width: 100%;
}

.grupo-de-forms.texto-animado-de-forms .barra:before,
.barra:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.grupo-de-forms.texto-animado-de-forms .barra:before {
  left: 50%;
}

.grupo-de-forms.texto-animado-de-forms .barra:after {
  right: 50%;
}

.grupo-de-forms.texto-animado-de-forms .texto-de-forms:focus ~ .barra:before,
.texto-de-forms:focus ~ .barra:after {
  width: 50%;
}

.grupo-de-forms.texto-animado-de-forms .texto-de-forms:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -ms-animation: inputHighlighter 0.3s ease;
  -o-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -ms-animation: inputHighlighter 0.3s ease;
  -o-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -ms-animation: inputHighlighter 0.3s ease;
  -o-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.centrar_input {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

.imagen_de_usuario {
  height: 150px;
  width: 150px;
  border: 1px dashed #1CBCF0;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.imagen_de_usuario img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 1px;
}

@keyframes rippleForm {
  from {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #ddd;
  }
  to {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.datatable_row_red {
  background-color: #e74c3c;
}

.datatable_row_yellow {
  background-color: #F7FEA4;
}

#datatable > tbody > tr > td:last-child {
  position: relative;
}
#datatable > tbody > tr > td:last-child a > i[class^="fas fa-"],
#datatable > tbody > tr > td:last-child a > i[class*=" fa"] {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ABB1AD;
  margin-top: 5px;
}
#datatable > tbody > tr > td:last-child a i:hover {
  font-size: 2.2em;
  margin-top: -5px;
}
#datatable > tbody > tr > td:last-child .dt-btn-editar > i:hover {
  color: #1CBCF0;
}
#datatable > tbody > tr > td:last-child .dt-btn-habilitar {
  margin-left: 40px;
}
#datatable > tbody > tr > td:last-child .dt-btn-habilitar i:hover {
  color: #1BE55E;
}
#datatable > tbody > tr > td:last-child .dt-btn-asignar {
  margin-left: 40px;
}
#datatable > tbody > tr > td:last-child .dt-btn-asignar i:hover {
  color: #1BE55E;
}
#datatable > tbody > tr > td:last-child .dt-btn-mostrar {
  margin-left: 40px;
}
#datatable > tbody > tr > td:last-child .dt-btn-mostrar i:hover {
  color: #FEFC00;
}
#datatable > tbody > tr > td:last-child .dt-btn-deshabilitar {
  margin-left: 40px;
}
#datatable > tbody > tr > td:last-child .dt-btn-deshabilitar i:hover {
  color: #CC2121;
}
#datatable > tbody > tr > td:last-child .dt-btn-galeria {
  margin-left: 40px;
}
#datatable > tbody > tr > td:last-child .dt-btn-galeria i {
  margin-top: 0px !important;
}
#datatable > tbody > tr > td:last-child .dt-btn-galeria i:hover {
  margin-top: -8px !important;
  color: #1BE55E;
}

.datatable-imagen {
  width: 50px;
  height: 50px;
}

.mt_menos_2 {
  margin-top: 0px !important;
}
.mt_menos_2:hover {
  margin-top: -10px !important;
}

.hidden {
  display: none !important;
}

body {
  background: #f1f2f7;
  display: table;
  font-family: "Open Sans" sans-serif !important;
  font-size: 16px;
  width: 100%;
}

a,
button {
  text-decoration: none;
  outline: none !important;
  color: #878787;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #000;
}

.content {
  float: left;
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 1368px) {
  .content {
    padding: 0 15px;
  }
}
@media (max-width: 992px) {
  [class*=col].no-padding {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}
@media (max-width: 575.99px) {
  body {
    display: block;
  }

  aside.left-panel {
    display: block;
    height: auto;
    min-height: inherit;
    padding: 0 15px;
    width: 100%;
  }

  aside.left-panel .navbar {
    margin-bottom: 0;
  }

  aside.left-panel .navbar .navbar-header {
    height: 50px;
  }

  aside.left-panel .navbar .navbar-brand {
    border-bottom: none;
    display: inline-block;
    float: left;
    line-height: 1;
    margin-top: 11px;
    min-height: inherit;
  }

  aside.left-panel .navbar .navbar-brand.hidden {
    display: none;
  }

  aside.left-panel .navbar .navbar-toggler {
    float: right;
    margin-top: 8px;
  }

  aside.left-panel .navbar .navbar-nav li > a {
    padding: 5px 0;
  }

  aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
    top: 5px;
  }

  aside.left-panel .navbar .menu-title {
    line-height: 30px;
    padding: 0;
  }

  .menutoggle {
    display: none;
  }

  .right-panel {
    display: block;
  }

  .right-panel header.header {
    padding: 5px 10px 1px 5px;
  }

  .right-panel header.header div[class*=col] {
    padding: 0;
    width: initial;
  }

  .right-panel header.header .col-sm-7 {
    float: left;
  }

  .right-panel header.header .col-sm-5 {
    float: right;
  }

  .right-panel .breadcrumbs {
    padding: 10px 15px;
  }

  .right-panel .breadcrumbs div[class*=col] {
    padding: 0;
  }

  .right-panel .breadcrumbs .page-header {
    min-height: inherit;
    padding: 0;
  }

  .right-panel .breadcrumbs .page-header h1 {
    padding: 5px 0;
  }

  .right-panel .breadcrumbs .page-header.float-right {
    float: left;
    text-align: left;
    width: 100%;
  }

  .right-panel .breadcrumbs .page-header.float-right .breadcrumb {
    padding: 0;
  }

  .right-panel .content {
    padding: 0 10px;
  }

  .right-panel .content div[class*=col] {
    padding: 0;
  }

  .right-panel .content .row div[class*=col] {
    padding: 0 10px;
  }
}
.contenedor {
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 80px;
}
.contenedor .izquierda {
  float: left;
  width: 50%;
  height: 30px;
}
.contenedor .derecha {
  float: right;
  width: 50%;
  height: 30px;
}

@media (max-width: 570px) {
  #datatable_wrapper > .contenedor > .derecha > #datatable_filter {
    margin-left: 50px !important;
  }
}

/*# sourceMappingURL=main.css.map */
